<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard - Vehicle Parking System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-left">Welcome to Admin</div>
            <ul class="nav-links">
                <li><a href="{{ url_for('admin_dashboard') }}">Home</a></li>|
                <li><a href="{{ url_for('users_page') }}">Users</a></li>|
                <li><a href="{{ url_for('parking_history') }}">History</a></li>|
                <li><a href="{{ url_for('summary') }}">Summary</a></li>|
                <li><a href="/logout">Logout</a></li>
            </ul>
        <div class="edit-profile"><a href="{{ url_for('edit_profile') }}">Edit Profile</a></div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        <div class="flash-container">
        {% for message in messages %}
            <div class="flash-message">
            {{ message }}
            <span class="flash-close" onclick="this.parentElement.style.display='none';">&times;</span>
            </div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}


    <div class="content">

        {% block content %}{% endblock %}
    </div>
</body>
</html>




